<div class="banner" style="background-image: url(<%= asset_path('beer_6.jpeg') %>);">
  <div class="banner-content">
    <h1>BREW</h1>
    <p>Taste great homemade beers</p>
    <i class="fa fa-arrow-circle-o-down fa-5x" id="get_down"></i>
  </div>
</div>


