
  <% @beers.each do |beer| %>
    <h2><%= link_to "#{beer.name}", beer_path(beer) %></h2>
    <p><%= beer.category %></p>
    <p><%= beer.description %></p>
    <p><%= beer.price %>EUR</p>
  <%end%>
