// .card {
//   height: 175px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   background-size: cover !important;
//   color: white;
//   position: relative;
// }
.card-user {
  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Raleway', 'sans-serif';
  color: #05004D;
}

.card-text {
    color: #9d9d9d;
    font-size: 0.8em;
    font-weight: 400;
    margin: 8px 0;
    max-height: 30px;
    overflow: hidden;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;

}

.card-block {
  background-color: #fff;

}

.card-info p {
  margin: 0 0 0px;
}

.card-title {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin-bottom: 3px;
    font-family: 'Raleway', 'sans-serif', 'extra-bold';
    color: #05004D;
}

.card-info {
  text-align: left;
  padding: 0 0 10px 10px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }

.btn-pricing {
  background-color: #05004D;
  color:  #fff;
  font-family: 'Raleway', 'sans-serif';
  border-radius: 0px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-link1 {
  position: absolute;
  right: 10px;
  top: 9px;
  z-index:999;
}

.card-link2 {
  position: absolute;
  right: 35px;
  top: 10px;
  z-index:999;
}

.white {
  color:white;
  font-size:15px;
}

.card-img-top {
  width: 200px;
}

.card-deck-wrapper {
  // border-style: solid;
  // border-width:  1px;
  // border-color: rgba (0,0,0,0);
  // box-shadow: 5px 5px 0.8em  grey;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
  text-decoration: none;
  background-color: #fff;

}

.card-deck {
  text-align: center;
  margin: 5px;
  // box-shadow: 0px 0px 0.8em  grey;
  width: relative;

}

.card-picture {
      width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background: #fff;
    border-bottom: solid 1px #F0F0F0;
}

.card-deck-wrapper .hover {

}

// .card-text {
//     width: 100%;
//     height: 46%;
//     box-sizing: border-box;
//     padding: 12px 20px 20px;
//     position: relative;
//     text-align: left;
//     margin: 0 0 0 0px;
//     padding: 0 0 0 0px;

// }

// .card-text h4 {
//   text-decoration: none !important;
//   margin-right: 10px;
//   margin-left: 10px;
// }

// .card-text p {
//   margin-right: 10px;
//   margin-left: 10px;
// }

// .card-text .title {
//     font-size: 1.5em;
//     font-weight: 800;
//     text-transform: uppercase;
//     display: block;
//     margin-bottom: 3px;
//     margin-top: 10px;
//     color: #1d2e60;
// }

// .card-text .description {
//     color: #9d9d9d;
//     font-size: 1em;
//     font-weight: 400;
//     max-height: 30px;
//     overflow: hidden;
// }

// .card-text .price {
//     width: 100%;
//     height: 40px;
//     display: block;
//     background: #be262f;
//     color: #fff;
//     line-height: 40px;
//     cursor: pointer;
//     outline: none;
//     padding-right: 20px;
//     padding-left: 20px;
// }


